<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.royalroadofspec">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="스펙의 왕도"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoyalRoadOfSpec">

        <activity android:name=".community_detail_4"
            android:parentActivityName=".community_space_4"/>
        <activity android:name=".write_space_4"
            android:parentActivityName=".community_space_4"/>

        <activity android:name=".community_space_4" />
        <activity
            android:name=".details_of_selected_field_3"
            android:parentActivityName=".selecting_subfield_content_2" />

      <activity android:name=".Preparing_3" />
        <activity
            android:name=".ITListView_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity
            android:name=".OfficerListView_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity
            android:name=".FinanceListView_2"
            android:parentActivityName=".selecting_occupation_1" />

        <activity android:name=".InfoAboutSpec_5"></activity>
        <activity
            android:name=".selecting_subfield_content_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity android:name=".selecting_occupation_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>