<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.royalroadofspec"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="스펙의 왕도"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoyalRoadOfSpec">
        <activity android:name=".InfoAboutSpec_5"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".community_detail_4" />
        <activity android:name=".write_space_4" />
        <activity android:name=".community_space_4" />
        <activity
            android:name=".details_of_selected_field_3"
            android:parentActivityName=".selecting_subfield_content_2" />
        <activity android:name=".Preparing_3" />
        <activity
            android:name=".ITListView_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity
            android:name=".OfficerListView_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity
            android:name=".FinanceListView_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity
            android:name=".selecting_subfield_content_2"
            android:parentActivityName=".selecting_occupation_1" />
        <activity android:name=".selecting_occupation_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>